.article {
    text-align: center;
    font-family: sans-serif;
    width: 80%;
    line-height: 1.5;
    margin: auto;
}

.tutor-card {
    padding: 15px;
    background: #e6e6e6;
    margin-bottom: 2em;
}

.half-width {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.full-width {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.shadow {
    box-shadow: 5px 5px 5px gray;
}

.purple-background {
    background: #4e4db3;
    padding: 20px;
}

.round {
    border-radius: 20px;
}

.event-row, .calendar-event {
    padding: 2px;
    margin-bottom: 20px;
    background: whitesmoke;
    border:1px solid gray;
}

.calendar-event {
    border-radius: 10px;
}

.tut-publish-button {
    background: #1779ba;
    display: block;
    width: 25%;
    margin: auto;

}

.tut-deleteevent-button {
    /* background: red; */
    color: red;
    display: inline-block;
    font-size: 24pt;
}

.tut-deleteevent-button:hover {
    cursor: pointer;
    border: 1px solid gray;

}

.tutor-search {
    display: block;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.highlight {
    background-color: yellow;
}

.confirmation-message{
  text-align: center;
}

.tut-add-button, .tut-delete-button {
  margin-right: 10px;
}

.tut-add-button:hover, .tut-delete-button:hover{
  background-color: #3f3d8f;
}

.tut-delete-button {
    background-color: #e63232;
}

/*TEXT COLORS*/

.white {
    color: white;
}

.green{
    color: #4cb400;
}

.purple{
    color: #4e4db3;
}

.orange{
    color: #ee6230;
}

.lime{
    color: #bbd03d;
}

.teal{
    color:#59b4aa;
}

.yellow{
    color:#eec416;
}
